extends layout
include mixins/form-helpers

block content
  h2 Calendar

  form#palendar-form(action="/calendar", method="POST")
    fieldset
    
      .form-group
        mixin label("title", "Title")
        mixin text("title", calendar.title, "required")
        mixin errorMessage(calendar, "title")
 
    .form-actions
      button.btn.btn-primary(type="submit")
        span.glyphicon.glyphicon-edit(aria-hidden='true')
        |  Update

  table.table.table-bordered.table-striped
    tr
      th Title
      th Amount
      th Date
      th
    each pay in calendar.payments
      tr
        td= display(pay.title)
        td= display(pay.amount)
        td= display(pay.date)

        td
          a(href="/calendar/payment/" + pay._id + "/delete", title="Delete")
            i.glyphicon.glyphicon-ban-circle
  include ./payment.jade
