doctype 5
html
  head
    title Paylander
    meta(charset='UTF-8')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/darkly/bootstrap.min.css')
    link(rel='stylesheet', href='/css/custom.css')
  body
    div.navbar.navbar-inverse.navbar-static-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Paylander
        .collapse.navbar-collapse
          if facebook
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/auth/logout')
                  span.glyphicon.glyphicon-log-out(aria-hidden='true')
                  |  Logout #{facebook.first_name}
          else
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/auth/login')
                  span.glyphicon.glyphicon-log-in(aria-hidden='true')
                  |  Login
    .container
      block content
    block scripts
      script(src='//code.jquery.com/jquery-1.11.2.min.js')
      script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
