extends layout
include mixins/form-helpers

block content
  h1= calendar.title
  form#palendar-form(action="/calendar", method="POST")
    fieldset
 
      .form-group
        mixin label("title", "Title")
        mixin text("title", calendar.title, "required")
        mixin errorMessage(calendar, "title")
 
    .form-actions
      button.btn.btn-primary(type="submit")
        span.glyphicon.glyphicon-edit(aria-hidden='true')
        |  Update
  hr
  include ./payment_list.jade
  hr
  include ./payment.jade
