table.table.table-bordered.table-striped
  tr
    th Title
    th Amount
    th Date
    th
  each pay in payments
    tr
      td= display(pay.title)
      td= display(pay.amount)
      td= display(pay.date)

      td
        a(href="/calendar/payment/" + pay._id + "/delete", title="Delete")
          i.glyphicon.glyphicon-ban-circle
