a.btn.btn-primary(href="#payment-form", title="New Payment", data-toggle="collapse", aria-expanded="false", aria-controls="payment-form")
  span.glyphicon.glyphicon-edit(aria-hidden='true')
  |  Create a new Payment 

form#payment-form.collapse(action="/calendar/payment", method="POST")
  fieldset
    .form-group
      mixin label("title", "Title")
      mixin text("title", payment.title, "required")
      mixin errorMessage(payment, "title")

    .form-group
      mixin label("amount", "Amount")
      mixin number("amount", payment.amount, "required")
      mixin errorMessage(payment, "amount")

    .form-group
      mixin label("date", "Date")
      mixin date("date", payment.date)
      mixin errorMessage(payment, "date", "required")

  .form-actions
    button.btn.btn-primary(type="submit")
      span.glyphicon.glyphicon-edit(aria-hidden='true')
      |  Create
