extends ../layout

block content
  h2.display-data Delete Palendar?
            
  table.table.table-bordered
    tr
      th Property
      th Value
        tr
          td Title
          td= display(palendar.title)
        tr
          td Amount
          td= display(palendar.amount)


  form#palendar-form.form-horizontal(action="/palendars/" + palendar._id + "/delete", method="POST")
    .form-actions
      a.btn.btn-warning(href="/palendars") Back
      | 
      input.btn.btn-danger(type="submit", value="Delete")
