extends ../layout

block content
  h2.display-data Palendar Detail
            
  table.table.table-bordered
    tr
      th Property
      th Value
        tr
          td Title
          td= display(palendar.title)
        tr
          td Amount
          td= display(palendar.amount)


  .form-actions
    a.btn.btn-warning(href="/palendars") Back
    | 
    a.btn.btn-primary(href="/palendars/" + palendar._id + "/edit") Edit
    | 
    a.btn.btn-danger(href="/palendars/" + palendar._id + "/delete") Delete