extends ../layout
include ../mixins/form-helpers

block content
  form#palendar-form(action="/palendars/" + palendar._id + "/edit", method="POST", role="form")
    fieldset
      legend Edit Palendar

      .form-group
        mixin label("title", "Title")
        mixin text("title", palendar.title)
        mixin errorMessage(palendar, 'title')
      .form-group
        mixin label("amount", "Amount")
        mixin number("amount", palendar.amount)
        mixin errorMessage(palendar, 'amount')

    .form-actions
      a.btn.btn-warning(href="/palendars") Back
      | 
      input.btn.btn-primary(type="submit", value="Save")
