extends ../layout

block content
  h2.display-data All Palendars
    a.btn.btn-primary.pull-right(href="/palendars/create") Create a new Palendar

  table.table.table-bordered.table-striped
    tr
        th Title
        th Amount
        th

    each palendar in palendars
      tr
        td= display(palendar.title)
        td= display(palendar.amount)

        td
          a(href="/palendars/" + palendar._id + "/detail", title="Detail")
            i.glyphicon.glyphicon-search
          | 
          a(href="/palendars/" + palendar._id + "/edit", title="Edit")
            i.glyphicon.glyphicon-pencil
          | 
          a(href="/palendars/" + palendar._id + "/delete", title="Delete")
            i.glyphicon.glyphicon-ban-circle