mixin label(field, title)
  label(for=field, class="control-label")= title

mixin password(field, value)
  input.form-control(type="password", id=field, name=field, value=value)

mixin text(field, value, required)
  input.form-control(type="text", id=field, name=field, value=value, required=required)

mixin textarea(field, value)
  textarea.form-control(id=field, name=field, rows="5")= value

mixin number(field, value, required)
  input.form-control(type="number", id=field, name=field, value=value, required=required)

mixin boolean(field, value)
  input.form-control(type="checkbox", id=field, name=field, checked=value)

mixin date(field, value, required)
  input.form-control(type="date", id=field, name=field, value=dateAsValue(value), required=required)

mixin datetime(field, value, extra)
  input.form-control(type="datetime", id=field, name=field, value=value, required=required)

mixin errorMessage(model,field)
  != errorFor(model,field)
